:root{
    --primary: rgb(11, 92, 255);
    --primary-dark: #004ce5;
    --primary-light: #4f82e980;
    --secondry: #00ede7;
    --secondry-light: #edf8f8;
    --secondry-dark: #d8f4f4;
    --bg-light: #b5d0f8;
    --bg-dark: #00031f;
    --text-intro: #033a7d;
    --text-dark: #333;
    --text-light: #ffffff;
    --background: #f5f8fe;
    --background-dark: #e6eeff;
    --background-light: #f7f7f8;
    --stories-one: #ee0000;
    --stories-two: #013d5b;
    --stories-three: #181716;
    --footer: #39394d;
    --card-box-shadow: box-shadow: 0 16px 20px #0b5cff29;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%
}


/* @media only screen and (max-width: 1100px) {
    html {
        font-size: 50%;
    }
  } */

body {
    letter-spacing: .03em;
    font-family: 'Almaden Sans','Arial'!important;
    font-weight: 400;
    background: var(--background);
    line-height: 120%;
    color: var(--text-dark);
    min-height: 100vh;
    scroll-behavior: smooth;
}
/* Typography */
.heading-primary {
    font-size: 5rem;
    font-weight: 700;
    color: var(--text-dark);
    line-height: 120%;

}
.heading-secondry {
    font-size: 2.6rem;
    font-weight: 700;
    color: inherit;
    line-height: 120%;
}
.heading-tertiary {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 120%;
}

.text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    line-height: 120%;
}
.big-text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    line-height: 120%;
}

.link {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary);
}


/* Button */
.btn-primary {
    border: 1px solid var(--primary);
    padding: 1rem 1.2rem;
    font-size: 2rem;
    border-radius: 2rem;
    background-color: var(--background);
    color: var(--primary);
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
}
.btn-primary:hover,
.btn-primary:focus
{
    background-color: var(--background-dark);
}

btn-primary:active {
    transform: translateY(1px);
}

.btn-primary--filled {
    background-color: var(--primary);
    color: var(--text-light);
}
.btn-primary--filled:hover,
.btn-primary--filled:focus
{
    background-color: var(--primary-dark);
}
.btn-primary--filled:active {
    transform: translateY(1px);

}



.btn-secondry {
    border: 1px solid var(--secondry);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    background-color: var(--secondry);
    color: var(--text-dark);
    font-weight: 500;
    cursor: pointer;
}
.btn-secondry:active {
    transform: translateY(1px);

}

.btn-text {
    color: var(--primary);
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.btn-text:active {
    transform: translateY(1px);
}
.btn-text::after {
    content: " ";
    width: 1rem;
    height: 1rem;
    border-top : .25rem solid var(--primary);
    border-right : .25rem solid var(--primary);
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    top: 40%;
    right: 5%;
    opacity: 0;
    transition: all .5s;
}
.btn-text:hover::after {
    opacity: 1;
    right: -3%;
}


/* utilities */
.ml-auto {
    margin-left: auto !important;
}

.clr-primary {
    color: var(--primary)
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: var(--background-light);

}

.intro {
    background-color: var(--bg-dark);
    text-align: end;
}
.contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

}
.contact-us>li {
    color: var(--text-light);
    font-size: 1.4rem;
    list-style: none;
    margin: .8rem;
    padding-left: 1rem;
}
.contact-us>li:first-of-type{
    margin-left: auto;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.search-box{
    position: relative;
    width: 27rem;
    height: 3rem;
    border-radius: .5rem;
    color: var(--text-dark);
    background-color: var(--background);
    font-family: inherit;
    display: none;
    cursor: text;
}
.cross-input {
    position: absolute;
    right: 2%;
    top: 10%;
    z-index: 100;
    cursor: pointer;
    width:2.5rem;
    height: 2.5rem;
    color: var(--text-dark);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cross-input-icon {
    width:2rem;
    height: 2rem;
    fill: currentColor;    
}
.search-glass {
    position: absolute;
    z-index: 100;
    width: 2.8rem;
    height: 100%;
    padding: .5rem 0rem;
    fill: var(--text-dark);
}
.search-input {
    width: 100%;
    height: 100%;
    padding: 0 3rem;
    font-size: 1.2rem;
    outline: none;
    border-radius: inherit;
}

.nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 4rem 1rem 2rem;
}

.nav * {
    margin-left: 2.2rem;
}

.header-icon {
padding-right: 1rem;
}


/* Motto Section */

.motto-section {
    margin: 2rem 0 0 10rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top:10rem ;
}
.motto {
    /* overflow: visible; */
}
.notification {
    margin-top: 1rem;
    border: 1px solid var(--secondry);
    padding: 2px 3rem 2px .5rem;
    color: var(--text-dark);
    background-color: var(--secondry-light);
    cursor: pointer;
    border-radius: 2rem;
    position: absolute;
    top:0;
    left: 0;
    text-decoration: none;
    z-index: 1000;

    display: flex;
    align-items: center;

}
.notification:hover {
    background-color: var(--secondry-dark);
}

.divider {
    border-left: 1px solid var(--secondry);
    margin: 0 1rem;
    height:2rem
}


.notif-icon {
    width: 2.5rem;
    height: 2.5rem;
}
.notif-text {
    margin-left: 1rem
}
.angle-icon {
    width: 3rem;
    height: 3rem;
    fill: var(--primary);
}

.time-bar {
    margin-top: 8rem;
    height: .2rem;
    width: 100px;
    background-color: var(--primary-light);
    position: relative;
    cursor: pointer;

}
.time-bar--inner {
    height: 100%;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    animation: progressbar 6s linear 1s infinite;
}

@keyframes progressbar {
    0% {
        width: 5%;
    }
    90%{
        width: 100%;
    }
    100% {
        width: .5rem;
    }
}

.motto-line {
    margin: 3rem 5rem 2rem 0rem;
    line-height: 120%;
    font-size: 8rem;
}

.desc {
    font-size: 3rem;
    margin-top: 2rem;
    padding-right:20rem;
}

.price-box {
    margin-top:5rem;
}

.swipper {
    background-color: var(--background-dark);
    position: relative;
    height: 50vh;
    flex: 1 0 50%
}

.slide1-1 {
    width: 26rem;
    height: 33rem;
    border-radius: 2rem;
    object-fit: cover;
    position: absolute;
    right: 8rem;
    top: 0;

}
.slide1-2 {
    width: 25rem;
    height: 6rem;
    position: absolute;
    left: 8rem;
    top: 7rem;
    animation: ltright 6s linear 1s infinite;

}
.slide1-3 {
    width: 8.5rem;
    height: 9.5rem;
    position: absolute;
    left: 29rem;
    top: 33.5rem;
    animation: rtleft 6s linear 1s infinite;

}
.slide1-4 {
    width: 32rem;
    height: 25rem;
    border-radius: 2rem;
    position: absolute;
    left: -4rem;
    bottom: -9rem;

}
@keyframes ltright {
    0% {
        left: 5rem;
    }
    15% {

        left: 8rem;
    }
    100% {
        left: 8rem;
    }
}

@keyframes rtleft {
    0% {
        left: 32rem;
    }
    15% {
        left: 29rem;
    }
    100%{
        left:29rem;
    }
}


/* Product Section */
.product-section {
    margin-top: 8rem;
    position: relative;
}
.products {
    height: 90vh;
    position: relative;
    background-color: var(--bg-dark);
    z-index: 10;
    transition: all .25s;

}

.products--after {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.icon-container {
    background-color: var(--primary);
    text-align: center;
    position: absolute;
    left:0;
    top:0;
    height: 30vh;
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-container--after {
position: relative;
}
.zoom-image {
    width: 80%;
    height: 5rem;
    margin: auto 2rem;
    object-fit: contain;
}

.product-intro {
    /* background-color: var(--bg-dark); */
    color: var(--text-light);
    padding: 3rem 2rem;
    padding-left: 52rem;  
    height: 95vh;
    transition: all .5s;

}
.product-intro--after {
    margin: 2rem 2rem 2rem 9rem;
    padding: 4rem;

}
.product-text--after {
    width: 30rem;
}
/*  
#5174ae, #1a284d

#7ec5c5, #22374a

#b09ace, #312d4f

#c8986e, #3c2f37

#c0738d, #39243f

*/
.product-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem 0rem; */
    padding: 2rem 0rem;
    margin: 4rem 0rem;
    font-size: 2rem;
    transition: all .5s;
}


.product-list--after {
    flex-direction: column;
    font-size: 1.8rem;
    align-items: flex-start;
}
.zoom-span{
    display: none;
    transition: all 1s;
}
.product-btn {
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    padding: 1rem;
    color: var(--text-light);
    border-radius: 2rem;
    margin-bottom: 2rem;
    transition: width 1s;
}
.product-btn:active {
    transform: scale(0.99);
}

.product-item1 {
    border: 1px solid #5174ae;
    background-color: #1a284d;
    position: absolute;
    transition: all .5s;
    left: 52rem;
    top: 8rem;
    animation: animate-item1 .85s linear .5s forwards;
    animation-play-state: paused;
    transition: all .85s;
}

.product-item2 {
    border: 1px solid var(--text-light);
    background-color: transparent;
    position: absolute;
    animation: animate-item2 .85s linear .5s forwards;
    transition: all .5s;
    left: 66rem;
    top: 8rem;
    animation-play-state: paused;
    transition: all .85s;
}

.product-item3 {
    border: 1px solid var(--text-light);
    background-color: transparent;
    position: absolute;
    animation: animate-item3 .85s linear .5s forwards;
    transition: all .5s;
    left: 82rem;
    top: 8rem;
    animation-play-state: paused;
    transition: all .85s;
}

.product-item4 {
    border: 1px solid var(--text-light);
    background-color: transparent;
    position: absolute;
    animation: animate-item4 .85s linear .5s forwards;
    transition: all .5s;
    left: 98.5rem;
    top: 8rem;
    animation-play-state: paused;
    transition: all .85s;
}

.product-item5 {
    border: 1px solid var(--text-light);
    background-color: transparent;
    position: absolute;
    animation: animate-item5 .85s linear .5s forwards;
    transition: all .5s;
    left: 119rem;
    top: 8rem;
    animation-play-state: paused;
    transition: all .85s;
}
.active1 {
    border: 1px solid #7ec5c5;
    background-color: #22374a;
}
.active2 {
    border: 1px solid #b09ace;
    background-color: #312d4f;
}
.active3 {
    border: 1px solid #c8986e;
    background-color: #3c2f37;
}
.active4 {
    border: 1px solid #5174ae;
    background-color: #39243f;
}

.animateItemsForward {
    animation-play-state: running;
    animation-duration: 1s;
}

@keyframes animate-item1 {
    0% {
        left: 52rem;
        top: 8rem;
    }
    100% {
        top: 34rem;
        left:14rem;
    }
}

.animateItemsBackward1 {
    transform: translate(38rem, -26rem);
}

@keyframes animate-item2 {
    0% {
        left: 66rem;
        top: 8rem;
    }
    100% {
        top: 39.5rem;
        left:14rem;
    }
}
.animateItemsBackward2 {
    transform: translate(52rem, -31.5rem);
}

@keyframes animate-item3 {
    0% {
        top: 8rem;
        left: 82rem;
    }
    100% {
        top: 45rem;
        left:14rem;
    }
}
.animateItemsBackward3 {
    transform: translate(68rem, -37rem);
}
@keyframes animate-item4 {
    0% {
        top: 8rem;
        left: 98.5rem;
    }
    100% {
        top: 50.5rem;
        left:14rem;
    }
}
.animateItemsBackward4 {
    transform: translate(84.5rem, -42.5rem);
}
@keyframes animate-item5 {
    0% {
        left: 119rem;
        top: 8rem;
    }
    100% {
        left:14rem;
        top: 56rem;
    }
}
.animateItemsBackward5 {
    transform: translate(105rem, -48rem);
}

.product-details {
background-color: var(--background-light);
width: calc(100% - 50rem);
height: 100%;
position: absolute;
right: 0;
top: 0;
display: flex;
overflow: hidden;

}
.product-details> div:not(:last-child) {
    /* margin-right: 4rem; */
    
}
.product-details>div:nth-child(1) {
    --product-bg: #b5d0f8;
    --icon-bg: #4079cc;
}
.product-details>div:nth-child(2) {
    --product-bg: #ccf4d9;
    --icon-bg: #93e8b0;
}
.product-details>div:nth-child(3) {
    --product-bg: #e5d2f2;
    --icon-bg: #b89adc;
}
.product-details>div:nth-child(4) {
    --product-bg: #ffd9b7;
    --icon-bg: #f2ab61;
}
.product-details>div:nth-child(5) {
    --product-bg: #ffc0cf;
    --icon-bg: #e0859f;
}
.product-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14rem;
    padding: 0rem 2rem 2rem 2rem;
    position: absolute;
    transition: all .5s;

}
.product-image-container {
    padding: 1rem 2rem 2rem 1rem;
}
.product-image {
    width: 35rem;
    height: 40rem;
    background-repeat: no-repeat;
    border-radius: 2rem;
    box-shadow: var(--card-box-shadow);

}
.product-desc{
    padding-right: 1rem;
    margin-left: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    flex: 0 0 55%;
}
.product-desc > h2 {
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* line-break: loose; */

}
.product-desc > p {
    /* margin-bottom: 2rem; */
    line-height: 130%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    }
.product-features {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;

}
.feature {
    display: inline-flex;
    align-items: center;
    flex: 0 0  50%;
}
.feature>p {
    padding: 1rem 1rem;
}
.feature-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--icon-bg);
    border-radius: 2rem;
    padding: .5rem;
    border-radius: 6px;
    box-shadow:  5px 0px .2rem var(--product-bg),
             -5px -0px .2rem var(--icon-bg);
}
.discover-product {
    border: 1px solid var(--icon-bg);
    color: var(--text-dark);
    margin: 4rem 0rem;
    background-color: transparent;
}

/* Service Section */
.service-section {
    height:90vh;
    padding: 4rem 0rem;
    position: relative;
}
.service-inner {
    margin: 4rem 0rem;
    padding: 1rem 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-light);
}
.left-section {
    flex: 1 1 50%;
}
.desc-container {
    padding: 1rem 2rem;
}
.desc-container h2 {
    font-size: 4rem;
}
.desc-container p {
    font-size: 2rem;
    line-height: 130%;
}
.desc-container>*:not(:last-child) {
    margin-bottom: 2rem;
}
.right-section{
    flex: 1 1 50%;
    transition: all .5s;

}
.service-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}
.service-list>li {
    list-style: none;
    flex: 0 0 47%;
}
.service-card {
    border: 1px solid var(--primary-light);
    margin: 1rem;
    border-radius: 2rem;
    height: 14rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--text-dark);
    transition: all .5s;

}
.service-card h3 {
    font-size: 2.4rem;
    text-transform: capitalize;
    color: inherit;
    text-align: center;
}
.service-card:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: .5rem .5rem 2rem rgba(11, 92, 255, 0.2);
}
.service-icon{
    width: 3rem;
    height: 3rem;
    fill: currentColor;
}

.service-detail {
    position: absolute;
    top: 15%;
    left: 1.5rem;
    z-index: -10;
    height: 45rem;
    width: 60%;
    background-color: var(--background-light);
    display: flex;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(214, 191, 191, 0.4);
}
.service-img{
    height: 100%;
    width: 55%;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-desc {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    padding: 5rem 2rem
}
.service-desc > h2, .service-desc > p {
margin-bottom: 3rem;
}
.service-data {
    position: absolute;
    bottom:0;
    height: 10rem;
    background-color: var(--bg-dark);
    right:0;
    font-size: 3rem;
    left:0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.service-data>p{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-light);
    line-height: 130%;
}
.data {
    border-radius: 100%;
    width: 5.5vw;
    height: 8vh;
    color: var(--bg-light);
    text-align: center;
    padding: .5rem;
    border: 4px solid var(--bg-light);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    

}
.stories-section {
    margin:1rem 4rem;
    /* text-align: center; */
}
.stories-section > h1{
    text-align: center;
    font-size: 4.5rem;
}

.story-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 4rem auto;
}
.story-list > .story-card:nth-child(1) {
    --color-card-bg: #ee0000;
}
.story-list > .story-card:nth-child(2) {
    --color-card-bg: #013d5b
}
.story-list > .story-card:nth-child(3) {
    --color-card-bg: #181716
}
.story-list > li {
    list-style: none;
}
.story-card {
    width:42rem;
    height: 30rem;
    border-radius: 2rem;
    background-color: var(--background-dark);
    position: relative;
    z-index: 10;
    padding: 0rem 3rem;
    overflow: hidden;
}
.story-card:not(:last-child) {
    margin-right: 5rem;
}
.story-logo {
    width:10rem;
    height:10rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.color-card {
    background-color: var(--color-card-bg);
    border-radius:2rem 0rem 2rem 0rem;
    position: absolute;
    width: 6rem;
    height: 6rem;
    right:0;
    bottom: 0;
    z-index: 5;
    transition: width .3s, height .3s;
    z-index: -1;
}
.read-stories-link, .read-stories-link:link {
text-decoration: none;
font-size: 1.6rem;
color:var(--text-light);
position: absolute;
right:10%;
bottom:8%;
visibility: hidden;
cursor: pointer;
padding-bottom: .5rem;

}
/* .read-stories-link:visited {
    border-bottom: 1px solid var(--text-light);
    color: var(--secondry-dark)
} */
.read-stories-link::after {
    content: "";
    visibility: visible;
    opacity: 1;
    position: absolute;
    top:-10%;
    width: 2rem;
    height:2rem;
    border-top: 2px solid var(--text-light); 
    border-right:  2px solid var(--text-light);
    transform: rotate(45deg);

}
.color-card > button {
    display: none;
}

.story-card:hover .color-card {
    width:100%;
    height: 100%;
}
.story-card:hover .read-stories-link{
    visibility: visible;
}
 .story-card:hover h2 {
    color: var(--text-light)
}

.story-card:hover .logo-color {
    color: var(--text-light);
    fill: var(--text-light);
}   

.story-card:hover .color-card>button {
    display: block;
}

.stories-section>button{
    margin: 4rem auto ;
    display: block;
}

.get-started-section {
    height: 30vh;
    background-color: var(--primary-dark);
    text-align: center;
    padding: 4rem 2rem
}
.get-started-section h1{
    color: var(--text-light);
}
.start-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.start-buttons>button:nth-child(2) {
    margin-left: 2rem;
    border-color: var(--text-light);
    background-color: transparent;
    color: var(--text-light);
}




/* Media Queries */
@media only screen and (max-width: 1300px) {
    html{
        font-size: 53.5%;
    }
}
@media only screen and (max-width: 1200px) {
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 45%;
  } 
  .motto-line {
    font-size: 5rem;
  }
  .desc {
    font-size: 2rem;
  }
  .swipper {
    height: 56vh
  }
  .icon-container {
    width:100%;
    height: 15vh;
    position: relative;
  } 
  .zoom-image {
    max-width: 100%;
    max-height: 10vh;
    height:auto;
    width: auto;
  }
  .product-btn {
    position: relative;
    top: 0;
    left:0;
    animation: none;
    transition: none;
    margin-right: 2rem;
  }
  .products {
    height:auto;
    text-align: center;
  }
  .product-intro {
    padding-left: 2rem;
    height: auto;
  }
  .product-list {
    justify-content: center;
    margin: 1rem;
  }
  .product-details {
    position:relative;
    width:100%;
    height:50rem;
    margin-top: 5rem;
  }
  .product-detail {
    margin-top: 1rem;
    width:100vw;
  }

}

@media only screen and (max-width: 900px) {
    
}

@media only screen and (max-width: 600px) {
    
}